
@{
    ViewBag.Title = "BasicDetails";
}
<link href="~/Content/custom.css" rel="stylesheet" />

@Scripts.Url("~/Scripts/Basic Details.js")

<div class="button">
    <h2 class="borders">BasicDetails</h2><br/><hr/>

    <button onclick="education()" class="btn btn-success">Education</button>
    <button onclick="qualification()" class="btn btn-info">Qualification</button>
    <button onclick="skills()" class="btn btn-primary">Skills</button>
    <button onclick="experience()" class="btn btn-warning">Experience</button>
</div>


