
@{
    ViewBag.Title = "Index";
}

<h2  class="borders" style="text-align:center"><b>@ViewBag.Index</b></h2>

    <div class="first">
        <div class="row">
            <h2>About ME...</h2><hr />
            <p>
                Im always the one who is Enthusiastic about discovering and Knowing new things in the world. Also, im the one who follows and have trust, faith in Karma and Good Spiritual things.
                In the Deep down inside of me , I love to be manifesting the things at I want to achieve it initially. Personally wants to be Kind and showing gratitude towards the life for giving enormous things.
            </p>
            <hr />
        </div>
        <div class="column" style="background-color:azure; text-align:center ; padding:30px; margin:20px">
            <p>Currently working as a Software Engineer In GyansysInfotech. I'm always wanted to develope something which is useful and productive to the users. I'm still on the process of achieving the wishful things .</p>
            <hr />
        </div>
    </div>
    <div>
        @Html.ActionLink("Contact ", "Contact", "Portfolio")<br /><hr />
        @Html.ActionLink("Feedback", "Feedback", "Portfolio")<hr />

    </div>

