
@{
    ViewBag.Title = "Register";
}

<div class="register">
    <h2 class="borders">Register</h2>
    <form action="Register" method="Post">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" placeholder="enter your name" name="register" class="select" /><br />
        </div>
        <div class="form-group">
            <label for="Date Of Birth">Date Of Birth</label>
            <input type="date" name="register" class="select"/><br />
        </div>
        <div class="form-group">
            <label for="qualification">Qualification</label>
            <input type="text" placeholder="Enter your Qualification" name="register" class="select"/><br />
        </div>
        <div class="form-group">
            <label for="School Name">School Name</label>
            <input type="text" placeholder="Enter School name" name="register" class="select" /><br />
        </div>
        <div class="form-group">
            <label for="College Name">College Name</label>
            <input type="text" placeholder="Enter College name" name="register" class="select"/><br />
        </div>
        <div class="form-group">
            <label for="Stream">Select your stream</label>
            <select class="select">
                <option>Select stream</option>
                <option>B.tech</option>
                <option>B.E</option>
                <option>B.Sc</option>
                <option>Others</option>
            </select><br />
        </div>
        
        <input type="submit" value="submit" class=" btn btn-primary " /><br />

    </form>
</div>



